:root {
  --primary: rgba(255, 255, 255, 0.25);
}

li.list-tick {
  list-style-type: "\2713";
  line-height: 2em;
}

li.list-tick::marker {
  width: 30px;
}

#gradient-canvas {
  filter: brightness(0.8) saturate(1.25);
  --gradient-color-1: #6ec3f4;
  --gradient-color-2: #3a3aff;
  --gradient-color-3: #ff61ab;
  --gradient-color-4: #e63946;
}
